/* mobile */
main{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

/* Tablets */
@media(min-width:600px){
   body{font-size: 18px;}
   header h3{font-size: 2.5rem;}
}


/* small laptop */
@media(min-width:768px){
    main{flex-direction: row;}
    article{flex: 2;padding-right: 20px;}
    aside{flex: 1;margin-top: 0;}   
}

/* large devices */
@media(min-width:1200px){
    main{max-width: 1100px ;margin: 0 auto;}
    header,footer{padding: 40px 0;}   
}

body.dark-mode {
background-color: black;
color: aliceblue;
}

body.dark-mode article{
    background-color: black;
    color: white;
}